{% extends 'bootstrap/base.html' %}

{% block body_attribs %}
	style="background: url({{ url_for('static', filename='img/background-login2.jpg') }}) no-repeat fixed center;"
{% endblock %}

{% block title %}
	{% if title %}{{ title }} - Labpals{% else %}Welcome to Labpals{% endif %}
{% endblock %}

{% block styles %}
	{{super()}}
	<!--Custom styles and fonts-->
	<link href="{{ url_for('static', filename='css/one-page-wonder.min.css') }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
	<!-- Latest bootstrap compiled and minified -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<!-- Javascript Script for making the time more eye-friendly -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<!-- Scripts and stylesheets for making the datatables more pretty -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" defer></script>
	<!-- Include icons in the html templates -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	{% endblock %}

{% block navbar %}
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light border bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Labpals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('upload') }}">Upload file</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('show_files') }}">Files</a>
          </li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('show_group_files') }}">Group files</a>
					</li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% endif %}
        </ul>
        {% if g.search_form %}
        <form class="form-inline ml-auto centera" method="get" action="{{ url_for('search') }}"><div class="form-group">{{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}</div></form>
        {% endif %}
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
	<div class="container jumbotron bg-white mt-5">
		<div class="container">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
					{% for message in messages %}
					<div class="alert alert-info" role="alert">{{ message }}</div>
					{% endfor %}
			{% endif %}
			{% endwith %}

			{% block app_content %}{% endblock %}
	     </div>
	</div>
{% endblock %}
