{% extends "base.html" %}

{% block app_content %}
<!--Header for the group-->
	<div class="container text-center">
		<h1 class="display-3 p-5">{{ group.groupname }}</h1>
	</div>
<!--Content for the group-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="container" style="border-radius:10px">
					<h1 class="text-center">Contact details</h1>
					<p class="font-weight-bold">Location:</p><p>{{group.location|capitalize}}</p>
					<p class="font-weight-bold">E-mail:</p><p>{{group.email}}</p>
					<p class="font-weight-bold">Website:</p><p>{{group.website}}</p>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="container" style="border-radius:10px">
                    {% for result in results %}
					    <p class="font-weight-bold">{{ result.user.username }} added {{ result.filename }}{{ result.filetype }} on {{ momentjs(result.date_upload).format('LLL')}} and modified at {{ momentjs(result.date_modif).format('LLL')}} </p>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
