{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
	<div class="container-sm p-3">
		<h1 class="text-center">Register</h1>
		<p class="text-center">Group name must match exact group name registered in the system.</p>
		<div class="row">
				<div class="col-md-4 mx-auto">
						{{ wtf.quick_form(form) }}
				</div>
		</div>
		<p class="text-center">Need to create a new group?  <a href="{{ url_for('groupregister') }}">Click to Register!</a></p>
	</div>
	<div>
		{% for error in form.username.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
		<br>
		{% for error in form.email.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</div>
{% endblock %}
