{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <h1>{{ ('Search Results') }}</h1>
    <br>
    <br>
    <table border="0" cellspacing="2" cellpadding="4" id="resultable">
      <thead>
        <tr>
          <th>User</th>
          <th>Contact</th>
          <th>Last seen</th>
          <th>Group</th>
        </tr>
      </thead>
    {% for user in users %}
      <tbody>
        <tr>
          <td><a href="{{url_for('user', username=user.username) }}">{{ user.username }}</a></td>
          <td>{{ user.email }}</td>
          <td>{{ momentjs(user.last_seen).format('LL')}}</td>
          <td>{{ user.group_id }}</td>
        </tr>
      </tbody>
    {% endfor %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#resultable').DataTable();
    });
</script>

{% endblock %}
