{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <h1>{{ ('Search Results') }}</h1>
    <br>
    <br>
    <table class="hover row-border" id="resultable">
      <thead>
        <tr>
          <th>User</th>
          <th>Contact</th>
          <th>Last seen</th>
          <th>Group</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
            <tr>
              <td><a href="{{url_for('user', username=user.username) }}">{{ user.username }}</a></td>
              <td>{{ user.email }}</td>
              <td>{{ momentjs(user.last_seen).format('LL')}}</td>
              <td>{{ user.group_id }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#resultable').DataTable( {
            columnDefs: [
                {
                    targets: '_all',
                    className: 'dt-center'
                }
            ]
        });
    });
</script>

{% endblock %}
