<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <script src="https://js.pusher.com/5.1/pusher.min.js"></script>
  <script>

      var pusher = new Pusher('97bc56a1eb806d1e3cc9', {
          cluster: 'eu'
      });

      var channel = pusher.subscribe('my-channel');

      channel.bind('my-event', function(data) {
        alert('An event was triggered with message: ' + data.message);
      });

  </script>
</head>
<body>
  <h1>Pusher Test</h1>
  <p>
    Try publishing an event to channel <code>my-channel</code>
    with event name <code>my-event</code>.
  </p>
</body>