{% extends "base.html" %}

{% block content %}

<!--Button to edit profile-->
	{% if user == current_user %}
	<div class="float-right m-5">
		<button type="button" class="btn btn-outline-secondary">
			<a href="{{ url_for('edit_profile') }}">Edit your profile</a>
		</button>
	</div>
	{% endif %}

<!--User info-->
	<div class="container clearfix m-5">
		<img class="float-left mr-5" src="{{ user.avatar(128) }}">
		<h1>Hi, {{ user.username }}!</h1>
        <p>{{ user.email }}</p>
		{% if user.about_me %}<p>{{ user.about_me }}</p>{% else %}<p>[Write something about your here!!]</p>{% endif%}
		{% if user.last_seen %}<p>Last seen on: {{ momentjs(user.last_seen).format('LL') }}</p>{% endif %}
	</div>

{% endblock %}
